@media screen and (min-width:767px) and (max-width:959px){

  body{
   background-image: url(../img/background_768.jpg);
   background-repeat: no-repeat;
   width: 960px;
   display: flex;
   flex-direction: row;
   justify-content: center;
 }

.wrapper{
  width: 768px;
  display: flex;
  margin: 0 auto;
}

header{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 47px;
  margin-left: -6px;
}

.header_img{
  display: flex;
  margin-left: 0px;
  margin-bottom: 25px;
  visibility: hidden;
}

.header_menu{
  visibility: hidden;
}

.header a{
  color: rgb(254, 254, 254);
  font-family: "league_gothic";
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
}

.header_menu_2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 138px;
  left: 637px;
  width: 100%;
  text-shadow: 1.5px 1.5px 2px rgb(143, 129, 132), 0 0 0 black;
}

.header_home_2 a{
  padding: 0 5px 2px 5px;
  border-bottom: 3px solid rgb(237, 191, 255);
}

.header_home_2{
  position: absolute;
  left: 193px;
}

.header_about_2{
  position: absolute;
  left: 286px;
}

.header_blog_2{
  position: absolute;
  left: 381px;
}

.header_products_2{
  position: absolute;
  left: 465px;
}

.header_lorem_2{
  position: absolute;
  left: 584px;
}

.header_dolor_2{
  position: absolute;
  left: 725px;
}

.scroller_h1{
  color: rgb(254, 254, 254);
  font-family: "league_gothic";
  font-size: 47px;
  text-shadow: 0 0 1px rgb(165, 159, 166), 0 0 1px black;
  letter-spacing: 0;
  word-spacing: 0;
  position: absolute;
  top: 305px;
  left: 860px;
  width: 300px;
}

.scroller_h4{
  color: rgb(214, 177, 230);
  text-transform: uppercase;
  font-family: "league_gothic";
  font-size: 24px;
  letter-spacing: 0px;
  word-spacing: 0px;
  position: absolute;
  top: 394px;
  left: 859px;
  height: 24px;
  width: 280px;
  overflow: hidden;
  margin: 0;
}

.switcher{
  position: absolute;
  overflow: hidden;
  height: 100px;
  width: 100px;
  top: 674px;
  left: 1347px;
}

.switcher .switcher_1{
  display: block;
  background: url(../img/header.png);
  background-repeat: no-repeat;
  opacity: 0.5;
  width: 18px;
  height: 18px;
  position: relative;
  left: 11px;
  top: 7px;
}

.switcher .switcher_2{
  display: block;
  background: url(../img/header.png);
  background-repeat: no-repeat;
  opacity: 0.5;
  width: 18px;
  height: 18px;
  position: relative;
  left: 34px;
  top: -11px;
}

.switcher .switcher_3{
  display: block;
  background: url(../img/header.png);
  background-repeat: no-repeat;
  opacity: 0.5;
  width: 18px;
  height: 18px;
  position: relative;
  left: 55px;
  top: -29px;
}

.switcher .switcher_4{
  display: block;
  background: url(../img/header.png);
  background-repeat: no-repeat;
  opacity: 0.5;
  width: 18px;
  height: 18px;
  position: relative;
  left: 78px;
  top: -47px;
}

.switcher .switcher_1:hover{
  background-position: 0 -24px;
}

.switcher .switcher_2:hover{
  background-position: 0 -24px;
}

.switcher .switcher_3:hover{
  background-position: 0 -24px;
}

.switcher .switcher_4:hover{
  background-position: 0 -24px;
}

.scroller_text{
    display: block;
    height: 105px;
    width: 27.5vw;
    position: absolute;
    top: 428px;
    left: 858px;
    font-family: sans-serif;
    font-size: 16.5px;
    color: rgb(254, 254, 254);
    word-break: break-all;
    word-wrap: break-word;
    line-height: 1.67;
    text-overflow: ellipsis;
    overflow: hidden;
}

.About_company{
  position: absolute;
  top: 800px;
  left: 866px;
  width: 100%;
  height: 500px;
}


.About_company a{
  font-family: "league_gothic";
  font-size: 18px;
  color: rgb(254, 254, 254);
  text-decoration: none;
  text-transform: uppercase;
}

.readmore_left{
  position: absolute;
  top: 253px;
  left: 124px;
}

.readmore_center{
  position: absolute;
  top: 252px;
  left: 376px;
}

.readmore_right{
  position: absolute;
  top: 252px;
  left: 637px;
}

.readmore_left:hover, .readmore_center:hover, .readmore_right:hover{
  text-shadow: 0 0 1px rgb(165, 159, 166), 0 0 10px white;
}

.switcher_left{
  display: block;
  background: url(../img/content.png);
  background-repeat: no-repeat;
  width: 43px;
  height: 31px;
  position: absolute;
  top: 73px;
  left: -24px;
}

.switcher_left:hover{
  background-position: -33px 0;
}

.switcher_center{
  display: block;
  background: url(../img/content.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 43px;
  height: 31px;
  position: absolute;
  top: 73px;
  left: 226px;
}

  .switcher_center:hover{
    background-position: -33px 0;
  }

  .switcher_right{
    display: block;
    background: url(../img/content.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 43px;
    height: 31px;
    position: absolute;
    top: 73px;
    left: 488px;
  }

  .switcher_right:hover{
    background-position: -81px 0;
  }

  .main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 50px;
    position: absolute;
    top: 1290px;
    left: 923px;
    width: 768px;
    height: 520px;
  }

  .main_aside{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -102px;
    left: -85px;
  }

  .main_aside img{
    padding-right: 14px;
    position: relative;
    top: 23px;
  }

  .main_aside p{
    font-family: "league_gothic";
    font-size: 24px;
    text-transform: uppercase;
    color: rgb(69, 69, 69);
    padding-right: 7px;
    padding-top: 2px;
    letter-spacing: 0.15px;
    position: absolute;
    top: 4px;
    left: 62px;
  }

  .main_aside .starts{
    color: rgb(237, 191, 255);
    position: absolute;
    top: 28px;
    left: 63px;
    width: 200px;
  }

  .switcher_1{
    display: block;
    background: url(../img/switcher.png);
    background-repeat: no-repeat;
    width: 27px;
    height: 31px;
    position: absolute;
    left: 79px;
    top: 210px;
  }

  .switcher_1:hover{
    background-position: -23px 0;
  }

  .switcher_2{
    display: block;
    background: url(../img/switcher.png);
    background-repeat: no-repeat;
    width: 27px;
    height: 31px;
    position: absolute;
    left: 101px;
    top: 210px;
  }

  .switcher_2:hover{
    background-position: -23px 0;
  }

  .switcher_3{
    display: block;
    background: url(../img/switcher.png);
    background-repeat: no-repeat;
    width: 27px;
    height: 31px;
    position: absolute;
    left: 122.5px;
    top: 210px;
  }

  .switcher_3:hover{
    background-position: -23px 0;
  }

  .switcher_4{
    display: block;
    background: url(../img/switcher.png);
    background-repeat: no-repeat;
    width: 27px;
    height: 31px;
    position: absolute;
    left: 144.5px;
    top: 210px;
  }

  .switcher_4:hover{
    background-position: -23px 0;
  }


  .main_updates{
    color: rgb(69, 69, 69);
    position: absolute;
    top: -112px;
    left: 290px;
    width: 450px;
  }

  .main_updates .recent_updates{
    font-family: "league_gothic";
    font-size: 30px;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .main_header, .main_header1, .main_header2{
    font-family: sans-serif;
    font-size: 17px;
    font-weight: bold;
    position: absolute;
    left: 76.5px;
    top: 76px;
    letter-spacing: 0.3px;
    word-spacing: 0.1px;
  }

  .main_header1{
    position: absolute;
    top: 145px;
  }

  .main_header2{
    position: absolute;
    top: 211px;
  }

  .main_text, .main_text1, .main_text2{
    font-family: sans-serif;
    font-size: 15.5px;
    position: absolute;
    top: 103px;
    left: 77px;
    width: 500px;
    word-spacing: -0.65px;
    letter-spacing: 0.25px;
    width: 260px;
    height: 20px;
    overflow: hidden;
  }

  .main_text1{
    position: absolute;
    top: 171px;
    left: 77px;
    word-spacing: -0.65px;
    letter-spacing: 0.25px;
  }

  .main_text2{
    position: absolute;
    top: 237px;
    left: 77px;
    word-spacing: -0.65px;
    letter-spacing: 0.25px;
  }

  .readmore_main{
    visibility: hidden;
  }

  .more_blog{
    font-family: "league_gothic";
    color: rgb(69, 69, 69);
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    position: absolute;
    left: 250px;
    top: 291px;
  }

  .line{
    display: block;
    position: absolute;
    left: -1181px;
    top: 392px;
  }

  .icons{
    position: absolute;
    top: 83.5px;
    left: 9px;
}

    .logos{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      position: absolute;
      top: 313px;
      left: -93px;
    }

    .logos a{
      margin-right: 53px;
    }

    .third_logo{
      margin-left: -3px;
    }

    .forth_logo{
      margin-left: 1px;
    }

    .logos .fifth_logo{
      margin-left: -21px;
      margin-top: -2px;
      margin-right: 29px;
    }

    .footer{
      display: flex;
      flex-direction: row;
      height: 224px;
      width: 760px;
      position: relative;
      top: 1832px;
      left: 336px;
    }

    .header_menu_3{
      font-family: "league_gothic";
      font-size: 21px;
      text-transform: uppercase;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      position: absolute;
      top: 327px;
      left: -33px;
      width: 800px;
    }

    .header_menu_3 a{
      text-decoration: none;
      color: rgb(254, 254, 254);
      text-shadow: 1px 2px 3px rgb(89, 89, 94), 0 0 1px black;
      margin-right: 42px;
    }

    .header_blog_3{
      margin-right: -1px;
    }

    .header_products_3, .header_lorem_3, .header_dolor_3{
      letter-spacing: -0.2px;
    }

    .signature{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      position: absolute;
      top: 376px;
      left: 559px;
      width: 300px;
    }

    .signature p{
      color: rgb(254, 254, 254);
      text-shadow: 1px 2px 2px rgb(89, 89, 94), 0 0 1px black;
      font-size: 11.5px;
    }

    .designed_by{
      font-family: sans-serif;
      margin-right: 2px;
      letter-spacing: 0.25px;
      word-spacing: -2px;
    }

    .signature .pingbull_as{
      font-family: "Arial Black";
      font-size: 12px;
      letter-spacing: -0.4px;
    }

    .About_company p{
      font-family: "league_gothic";
      font-size: 25px;
      color: rgb(254, 254, 254);
      text-transform: uppercase;
      letter-spacing: -0.3px;
    }

    .about_left{
      position: absolute;
      left: 31px;
      top: 126px;
    }

    .about_center{
      position: absolute;
      left: 283px;
      top: 126px;
    }

    .about_right{
      position: absolute;
      left: 544px;
      top: 126px;
    }

    .about_headerleft, .about_headercenter, .about_headerright{
      width: 21vw;
      position: absolute;
      top: -79px;
    }

    .about_left .left_text, .about_center .center_text, .about_right .right_text{
      position: absolute;
      top: -39px;
      left: 2px;
      font-size: 16.5px;
      font-family: sans-serif;
      color: rgb(188, 188, 190);
      text-transform: none;
      width: 18vw;
      height: 14vw;
      max-height: 150px;
      white-space: pre-wrap;
      text-overflow: ellipsis;
      overflow: hidden;
      overflow-wrap: break-word;
      letter-spacing: 0.05px;
      word-spacing: 0;
      line-height: 1.45;
    }

    .main_aside .quote_text {
      font-size: 17px;
      font-family: sans-serif;
      color: rgb(147, 147, 147);
      text-transform: none;
      width: 27vw;
      max-width: 350px;
      height: 17vw;
      max-height: 190px;
      white-space: pre-wrap;
      text-overflow: ellipsis;
      overflow: hidden;
      overflow-wrap: break-word;
      letter-spacing: -0.61px;
      word-spacing: 0;
      line-height: 1.45;
      position: absolute;
      top: 90px;
      left: 62px;
    }

    .footer_text .footer_pingbull, .footer_text .footer_er{
      font-family: "league_gothic";
      font-size: 48px;
      text-transform: uppercase;
      visibility: hidden;
    }

      .footer_text .footer_pingbull{
        color: rgb(69, 69, 69);
        position: absolute;
        top: -46px;
        left: 15px;
      }

      .footer_text .footer_er{
        color: rgb(185, 185, 185);
        position: absolute;
        top: -46px;
        left: 120px;
      }

      .footer_text .footer_copyright{
        font-size: 17px;
        font-style: italic;
        color: rgb(201, 201, 201);
        position: absolute;
        top: 50px;
        left: 16px;
        text-shadow: 0 1px 1px rgb(254, 254, 254), 0 0 0 white;
        visibility: hidden;
      }

    .footer_text .footer_textleft{
    font-size: 17px;
    font-family: sans-serif;
    color: rgb(147, 147, 147);
    text-transform: none;
    width: 23.5vw;
    max-width: 250px;
    height: 21.5vw;
    max-height: 330px;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    overflow-wrap: break-word;
    letter-spacing: -0.6px;
    word-spacing: 0;
    line-height: 1.45;
    position: absolute;
    top: 25px;
    left: 9px;
    }

    .footer_text .footer_textcenter{
    font-size: 17px;
    font-family: sans-serif;
    color: rgb(147, 147, 147);
    text-transform: none;
    width: 23.5vw;
    max-width: 250px;
    height: 21.5vw;
    max-height: 330px;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    overflow-wrap: break-word;
    letter-spacing: -0.6px;
    word-spacing: 0;
    line-height: 1.45;
    position: absolute;
    top:25px;
    left: 275px;
    }

    .footer_text .footer_textright{
    font-size: 17px;
    font-family: sans-serif;
    color: rgb(147, 147, 147);
    text-transform: none;
    width: 23.5vw;
    max-width: 250px;
    height: 21.5vw;
    max-height: 330px;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    overflow-wrap: break-word;
    letter-spacing: -0.6px;
    word-spacing: 0;
    line-height: 1.45;
    position: absolute;
    top: 25px;
    left: 538px;
    }

    .footer_news1, .footer_news2, .footer_news3{
      font-family: "league_gothic";
      font-size: 24px;
      text-transform: uppercase;
      color: rgb(69, 69, 69);
      width: 200px;
    }

    .footer_news1{
    position: absolute;
    top: -18px;
    left: 8px;
    }

    .footer_news2{
    position: absolute;
    top: -18px;
    left: 275px;
    }

    .footer_news3{
    position: absolute;
    top: -18px;
    left: 538px;
    }

   .footer_comments{
     visibility: hidden;
   }

}
